* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input, button {
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  border: 3px solid #F9F0DA;
}
button {
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
input:focus {
  border-color: #311c24;
}

body {
margin: 0;
padding: 0;
}

#header {
height: 200px;
background: url('header.jpg') repeat-x;
}

#content {
height: 300px;
font-size: 12pt;
}

#content p {
margin: 20px;
}

#footer {
height: 200px;
background: url('footer.jpg') repeat-x;
text-align: center;
font-size: 14pt;
}