<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/css/add_phone.css"/>
    <title>Добавить мошенника</title>
    </head>
<body>
<form  class="login_form" method="post">
  <fieldset>
    <legend>Заполните форму</legend>
      <label>Название вашего поста<br><input type="text" name="heading"></label><br>
    <label>Введите ссылку(на группу или страницу в соц.сетях)<br><input type="text" name="link"></label><br>
      <textarea name="message" cols="30" rows="4" placeholder="Напишите инфомацию о мошеннике"></textarea>
      <label><br>Укажите дату, когда столкнулись с мошенником(примерно)<br><input name="date" type="date" /></label><br>
  </fieldset>
  <input type="submit">
</form>
</body>
</html>