{% extends "base.html" %}

{% block content %}
  <style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
</style>
</head>
<body>
<div id='content'>
<div class="slideshow-container">
  <div class="mySlides1">
    <p><a target="_blanc" title="Ссылка откроется в новом окне" href="/phone_scammers">
    <img src="static/img/first.png" style="width:100%"></a></p>
  </div>

  <div class="mySlides1">
        <p><a target="_blanc" title="Ссылка откроется в новом окне" href="/scam_on_social_networks">
    <img src="static/img/second.png" style="width:100%"></a></p>
  </div>

  <div class="mySlides1">
    <p><a target="_blanc" title="Ссылка откроется в новом окне" href="/scam_in_the_internet">
    <img src="static/img/third.png" style="width:100%"></a></p>
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">❮</a>
  <a class="next" onclick="plusSlides(1, 0)">❯</a>
</div>

<script>
var slideIndex = [1,1];
var slideId = ["mySlides1"]
showSlides(1, 0);
showSlides(1, 1);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}
</script>
<h2>Полезные статьи</h2>
<table width="100%">
    <tr>
        <td>
<h3><img src="static/img/1_link.jpg" style="width:100%">
    <div class="articles-cell"><a href="https://nyagan.life/advices/10-prostyh-pravil-kak-ne-popastsya-na-ulovki-moshennikov"
class="article-link" title="10 простых правил как не попасться на уловки мошенников">
<div class="article-title">10 простых правил как <br> не попасться на уловки <br> мошенников</div></a>
<div class="article-desc">Советы, которые помогут <br> вам сохранить свои деньги, <br> личные данные и т.д.</div></div></h3></td>
            <td width="80%">
<h3><img src="static/img/2_link.jpg" style="width:25%">
    <div class="articles-cell"><a href="https://brobank.ru/kto-popadaetsya-na-ulovki-moshennikov/"
class="article-link" title="Кто чаще всего попадается на уловки мошенников">
<div class="article-title">Кто чаще всего попадается на уловки мошенников</div></a>
<div class="article-desc">Советы, которые помогут понять Как не поддаваться на уловки мошенников</div></div></h3></td>
    </tr>
    </table>
<h1>Что может сайт?</h1>
<img src="static/img/question.jpg" width="100" height="100" align="left">
<h3>Вы можете просматривать посты, которые оставили другие пользователи. Также вы можете создавать свои посты.</h3>
</div>
{% endblock %}