<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/css/two.css" />
    <title>Телефонные мошенники</title>
    <style>
      .button {
      float: right;
      background-color: #00a000;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      }
    </style>
</head>
<body>
<div id="layout">
    <div id="middle"><div id="header"><ul class="horizontal left menu" ></ul>
        <div class="center"><span class="l"><i class="bg_img"></i></span>
        <span class="r"><i class="bg_img"></i></span><h1>Телефонные мошенники</h1></div>
        <ul class="horizontal right menu"></ul><div class="clear"></div>
        <a href="https://127.0.0.1:8080/add" class="button">Click Here</a>
        <div id="content">
            <table><tr><td id="td_center"><div class="black"><div class="list"><dl class="disabled_minus">
                <dt><div class="number"><sup>1</sup></div></dt><dd class="odd"><div class="inner"><div class="text"><div class="cover">
                <h3><a href="/obj290/index.html?kk=a8d3f15799">+7&nbsp;(981)&nbsp;139&nbsp;6428</a></h3><p>Кристина Валерьевна Жукова (Погребняк) - Мошенница</p></div></div></div></dd>
                <dt><div class="number"><sup>2</sup></div></dt><dd><div class="inner"><div class="text"><div class="cover">
                <h3><a href="/obj308/index.html?kk=a8d3f15799">+7&nbsp;(980)&nbsp;231&nbsp;0196</a></h3><p>Мошенничество с билетами в театр</p></div></div></div></dd>
                <dt><div class="number"><sup>3</sup></div></dt><dd class="odd"><div class="inner"><div class="text"><div class="cover"><h3><a href="/obj268/index.html?kk=a8d3f15799">+7&nbsp;(921)&nbsp;957&nbsp;1803</a></h3>
                <p>Внимание! Мошенник!</p></div></div></div></dd><dt><div class="number"><sup>4</sup></div></dt><dd><div class="inner"><div class="text"><div class="cover"><h3><a href="/obj231/index.html?kk=a8d3f15799">+7&nbsp;(916)&nbsp;041&nbsp;0421</a></h3><p>Анастасия Васильева, (vasileva.av@bk.ru) представляется сотрудником ПАО Газпром, предлагает поучаствовать в тендере</p></div></div></div></dd><dt><div class="number"><sup>5</sup></div></dt>
                <dd class="odd"><div class="inner"><div class="text"><div class="cover"><h3><a href="/obj115/index.html?kk=a8d3f15799">+7&nbsp;(812)&nbsp;292&nbsp;6883</a></h3><p>Осаго страхование
<br/>РАЗВОД!</p></div></div></div></dd><dt><div class="number"><sup>6</sup></div></dt><dd><div class="inner"><div class="text"><div class="cover">
                <h3><a href="/obj307/index.html?kk=a8d3f15799">+7&nbsp;(905)&nbsp;222&nbsp;5924</a></h3><p>Хочу предостеречь от снятия квартир у недобросовестного товарища по фамилии Горбачев Андрей Анатольевич</p></div></div></div></dd>
                <dt><div class="number"><sup>7</sup></div></dt><dd class="odd"><div class="inner"><div class="text"><div class="cover">
                <h3><a href="/obj300/index.html?kk=a8d3f15799">+7&nbsp;(931)&nbsp;367&nbsp;2429</a></h3><p>Продаёт котят на Авито и Юле</p></div></div></div></dd>
                <dt><div class="number"><sup>8</sup></div></dt><dd><div class="inner"><div class="text"><div class="cover">
                <h3><a href="/obj267/index.html?kk=a8d3f15799">+7&nbsp;(911)&nbsp;149&nbsp;5430</a></h3><p>Мошенник на АВИТО.</p></div></div></div></dd>
                <dt><div class="number"><sup>9</sup></div></dt><dd class="odd"><div class="inner"><div class="text"><div class="cover">
                <h3><a href="/obj230/index.html?kk=a8d3f15799">+7&nbsp;(925)&nbsp;452&nbsp;6682</a></h3><p>Ветрова Ольга Витальевна, представляется сотрудником ПАО Газпром, предлагает поучаствовать в тендере</p></div></div></div></dd></dl>
                <div id="refresh_global"></div></div></div></td>
</tr></table></div>
        </div></div></div>
</body></html>