<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Мошенники в социальных сетях</title>
    <style>
      .button {
      float: right;
      background-color: #00a000;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      }
    </style>
</head>
<body>
        <a href="/scam_on_social_networks" class="button">Вернуться</a>
<table width="100%" border="1" cellpadding="4" cellspacing="0">
   <caption>Информация</caption>
   <tr>
    <th>Ссылка:</th><th>{{link[number]}}</th>
   </tr>
   <tr>
    <td>Дата:</td><td>{{date[number]}}</td>
   </tr>
   <tr>
    <td>Подробная информация:</td><td>{{text[number]}}</td>
   </tr>
  </table>
</body></html>